/// Vertical Rhythm
$base-font-size: 100 !default
$base-font-size-tablet: 112.5 !default
$line-height: 1.45 !default
$line-height-tablet: 1.7 !default

$base: 16 * ($base-font-size / 100) !default
$base-tablet: 16 * ($base-font-size-tablet / 100) !default

$leading: round($base * $line-height) !default
$leading-tablet: $base-tablet * $line-height-tablet !default


/// Modular scale
$ratio: 1.5 !default


/// Columns sizes
$number-columns: 12 !default
$column-width: 100% / $number-columns !default


/// Media queries and overwrites bulma variables
$gap:           64px !default
$mobile:        500px !default
$tablet:        768px !default
$desktop:       994px !default
$widescreen:    1200px !default
$fullhd:        1400px !default

$column-gap: 11.5px !default

// Buttons
$btn-color: #ebebeb !default
$btn-color-hover: #999 !default
$btn-text-color: #2b2b2b !default

$btn-border-radius: 0 !default
$btn-mobile-height: 30px !default
$btn-tablet-height: 40px !default
$btn-sm-height: 30px !default
$btn-lg-height: 50px !default
$btn-sides-padding: 12px !default

// Forms
$inputs-heigth: 40px !default
$inputs-sides-padding: 12px !default

$inputs-background-color: #fff !default
$inputs-readonly-background-color: #fff !default
$inputs-color-text: #2b2b2b !default
$inputs-border-color: #ebebeb !default
$input-hover-color: #393939 !default
$input-focus-color: #2b2b2b !default

$select-arrow-color: #2b2b2b !default

$inputs-border-radius: 0 !default

$field-help-text-color: $inputs-color-text !default
$field-error-color-text: #f00 !default
