$white: #fff !default
$black: #000 !default

// Vertical Rhythm
$base-font-size: 100 !default
$base-font-size-tablet: 112.5 !default
$line-height: 1.45 !default
$line-height-tablet: 1.7 !default

$base: 16 * ($base-font-size / 100) !default
$base-tablet: 16 * ($base-font-size-tablet / 100) !default

$leading: round($base * $line-height) !default
$leading-tablet: $base-tablet * $line-height-tablet !default


// Modular scale
$ratio: 1.5 !default


// Columns sizes
$number-columns: 12 !default
$column-width: 100% / $number-columns !default

// Container sizes
$container-max-width: 1230px !default
$container-sm-max-width: 570px !default
$container-xs-max-width: 370px !default
$container-xl-max-width: 1890px !default

// Wrapper container
$wrapper-container-max-width: 1920px !default
$wrapper-container-shadow: 0 0 30px -15px rgba(0, 0, 0, 1) !default
$wrapper-background-color: $white !default

// Media queries and overwrites bulma variables
$gap:           64px !default
$mobile:        500px !default
$tablet:        768px !default
$desktop:       994px !default
$widescreen:    1200px !default
$fullhd:        1400px !default

$column-gap: 11.5px !default

// Fonts extends for media queries
$breakpoints-extends: (tablet: $tablet, desktop: $desktop, widescreen: $widescreen, fullhd: $fullhd)

// Buttons
$btn-color: $black !default
$btn-color-hover: #999 !default
$btn-text-color: #2b2b2b !default

$btn-border-radius: 0 !default
$btn-mobile-height: 30px !default
$btn-tablet-height: 40px !default
$btn-sm-height: 30px !default
$btn-lg-height: 50px !default
$btn-sides-padding: 12px !default

$btn-icon-size: 24px !default

$icon-btn-default-size: 34px !default
$icon-btn-svg-default-size: 30px !default

$icon-btn-lg-size: 44px !default
$icon-btn-svg-lg-size: 40px !default

$icon-btn-sm-size: 24px !default
$icon-btn-svg-sm-size: 20px !default

$icon-btn-border-radius: 50% !default

// Forms
$inputs-heigth: 40px !default
$inputs-sides-padding: 12px !default

$textarea-height: 120px !default
$textarea-padding: 12px !default

$inputs-background-color: $white !default
$inputs-readonly-background-color: $white !default
$inputs-color-text: #2b2b2b !default
$inputs-border-color: #ebebeb !default

$input-border-hover-color: #393939 !default
$input-background-hover-color: $white !default

$input-border-focus-color: #2b2b2b !default
$input-background-focus-color: $white !default

$select-arrow-color: #2b2b2b !default

$inputs-border-radius: 0 !default

$field-help-text-color: $inputs-color-text !default
$field-error-color-text: #f00 !default

// Icons
$icon-default-size: 50px !default
$icon-svg-default-size: 35px !default

$icon-lg-size: 90px !default
$icon-svg-lg-size: 50px !default

$icon-sm-size: 40px !default
$icon-svg-sm-size: 25px !default

$icon-border-radius: 50% !default
