.btn
  align-items: center
  background-color: $black
  border: 1px solid transparent
  border-radius: $btn-border-radius
  color: $white
  cursor: pointer
  display: inline-flex
  font-weight: 700
  height: $btn-height
  justify-content: center
  padding: 0 $btn-sides-padding
  text-decoration: none
  transition: background-color $css-time $css-ease, border-color $css-time $css-ease, color $css-time $css-ease
  vertical-align: top
  width: auto

  @include breakpoint($tablet)
    height: $btn-tablet-height
    padding: 0 $btn-sides-tablet-padding

  &:hover:not(:disabled) // sass-lint:disable-line force-pseudo-nesting
    background-color: lighten($black, 40%)

  &__svg
    @include size($btn-icon-size)
    fill: $white
    flex-shrink: 0
    margin-right: .35em
    transition: fill $css-time $css-ease

    @include breakpoint($tablet)
      @include size($btn-icon-tablet-size)


    &_right
      margin-left: .35em
      margin-right: 0
      order: 2

  &_disabled,
  &:disabled
    cursor: not-allowed
    opacity: .5

  &_disabled
    pointer-events: none

  &_is-full-width
    display: flex
    width: 100%

  &_shadow
    $shadow-color: rgba($black, .3)
    box-shadow: 0 10px 20px -8px $shadow-color

  &_no-border
    border: 0

  &_sm
    height: $btn-sm-height

    @include breakpoint($tablet)
      height: $btn-sm-tablet-height

    &.btn_icon
      @include size($icon-btn-sm-size)

      @include breakpoint($tablet)
        @include size($icon-btn-sm-tablet-size)


      .btn__svg
        @include size($icon-btn-svg-sm-size)

        @include breakpoint($tablet)
          @include size($icon-btn-svg-sm-tablet-size)


  &_lg
    height: $btn-lg-height
    padding: 0 #{ $btn-sides-padding * 2 }

    @include breakpoint($tablet)
      height: $btn-lg-tablet-height
      padding: 0 #{ $btn-sides-tablet-padding * 2 }

    &.btn_icon
      @include size($icon-btn-lg-size)

      @include breakpoint($tablet)
        @include size($icon-btn-lg-tablet-size)


      .btn__svg
        @include size($icon-btn-svg-lg-size)

        @include breakpoint($tablet)
          @include size($icon-btn-svg-lg-tablet-size)


  &_icon
    @include size($icon-btn-default-size)
    border-radius: $icon-btn-border-radius
    padding: 0

    @include breakpoint($tablet)
      @include size($icon-btn-default-tablet-size)


    .btn__svg
      @include size($icon-btn-svg-default-size)
      margin: 0

      @include breakpoint($tablet)
        @include size($icon-btn-svg-default-tablet-size)


  &_outline
    background-color: transparent
    border-color: $black
    color: $black

    &:hover:not(:disabled) // sass-lint:disable-line force-pseudo-nesting
      background-color: $black
      color: $white

      .btn__svg
        fill: $white

    .btn__svg
      fill: $black

.link
  background-color: transparent
  border: 0
  cursor: pointer
  font-weight: 400
  padding: 0
  text-decoration: underline
  transition: color $css-time $css-ease
