.container
  margin: 0 auto
  padding: 0 $gutter
  width: 100%

  @include breakpoint($tablet)
    max-width: #{ $container-max-width + ($gutter-tablet * 2) }
    padding: 0 $gutter-tablet

  &_xs
    max-width: #{ $container-xs-max-width + ($gutter * 2) }

    @include breakpoint($tablet)
      max-width: #{ $container-xs-max-width + ($gutter-tablet * 2) }

  &_sm
    max-width: #{ $container-sm-max-width + ($gutter * 2) }

    @include breakpoint($tablet)
      max-width: #{ $container-sm-max-width + ($gutter-tablet * 2) }

.wrapper-container
  background-color: $wrapper-background-color
  box-shadow: $wrapper-container-shadow
  margin: 0 auto
  max-width: $wrapper-container-max-width
  width: 100%
