.field
  margin-bottom: dms-rem-mobile(1)

  @include breakpoint($tablet)
    margin-bottom: dms-rem-tablet(1)

  &__label
    display: block
    margin-bottom: 5px

  &__help-text
    color: $field-help-text-color
    margin-top: 5px

    ul
      list-style: none
      padding: 0

      li
        margin-bottom: 5px

      &:last-child
        margin-bottom: 0

  label
    &.error
      color: $field-error-color-text
      display: block
      margin-top: 5px

  .errorlist
    color: $field-error-color-text
    list-style: none
    padding: 0

    li
      margin-top: 5px

  &__columns
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

  &__column
    flex-basis: 0
    flex-grow: 1
    flex-shrink: 1

    &:first-child
      padding-right: $half-gutter

      @include breakpoint($tablet)
        padding-right: $half-gutter-tablet

    &:last-child
      padding-left: $half-gutter

      @include breakpoint($tablet)
        padding-left: $half-gutter-tablet

    &_sm
      flex: none
      width: calc(85px + #{$half-gutter})

      @include breakpoint($tablet)
        width: calc(85px + #{$half-gutter-tablet})

  &__inline-submit
    position: relative

    .field__btn
      @include position(absolute, 50% 5px null null)
      transform: translateY(-50%)
