#{$text-inputs-list},
.file-field
  @include size(100%, $inputs-heigth)
  background-color: $inputs-background-color
  border: 1px solid $inputs-border-color
  border-radius: $inputs-border-radius
  color: $inputs-color-text
  font-size: 16px
  font-weight: 400
  transition: border .4s ease-in-out

#{$text-inputs-list}
  @include prefix(appearance, none, webkit moz)
  display: block
  margin: 0
  outline: none
  padding: 0 $inputs-sides-padding

  &:hover:not([disabled]):not([readonly]) // sass-lint:disable-line force-pseudo-nesting
    background-color: $input-background-hover-color
    border-color: $input-border-hover-color

  &:focus:not([disabled]):not([readonly]) // sass-lint:disable-line force-pseudo-nesting
    background-color: $input-background-focus-color
    border-color: $input-border-focus-color

  &[disabled]
    cursor: not-allowed
    opacity: .5

  &[readonly]
    background-color: $inputs-readonly-background-color
    cursor: not-allowed

textarea
  height: $textarea-height
  padding: $textarea-padding
  resize: none

select
  padding-right: $inputs-heigth

  &[multiple]
    height: auto
    padding: 0

    option
      padding: .5em

  &::-ms-expand // sass-lint:disable-line no-vendor-prefixes
    display: none

.select
  position: relative

  &::after
    @include position(absolute, 50% #{ $inputs-heigth / 2 } null null)
    @include size(10px)
    border-color: $select-arrow-color
    border-style: solid
    border-width: 0 2px 2px 0
    content: ''
    display: block
    pointer-events: none
    transform: translateY(-50%) rotate(45deg)
    transform-origin: bottom right

  &_disabled,
  &_readonly
    &::after
      opacity: .5

  &_is-multiple
    &::after
      display: none

.field
  margin-bottom: dms-rem(1)

  @include breakpoint($tablet)
    margin-bottom: dms-rem(1, $tablet)

  &__label
    display: block
    margin-bottom: 5px

  &__help-text
    color: $field-help-text-color
    margin-top: 5px

    ul
      list-style: none
      padding: 0

      li
        margin-bottom: 5px

      &:last-child
        margin-bottom: 0

  label
    &.error
      color: $field-error-color-text
      display: block
      margin-top: 5px

  .errorlist
    color: $field-error-color-text
    list-style: none
    padding: 0

    li
      margin-top: 5px

  &__columns
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

  &__column
    flex-basis: 0
    flex-grow: 1
    flex-shrink: 1

    &:first-child
      padding-right: $half-gutter

      @include breakpoint($tablet)
        padding-right: $half-gutter-tablet

    &:last-child
      padding-left: $half-gutter

      @include breakpoint($tablet)
        padding-left: $half-gutter-tablet

    &_sm
      flex: none
      width: calc(85px + #{$half-gutter})

      @include breakpoint($tablet)
        width: calc(85px + #{$half-gutter-tablet})

  &_no-margin
    margin-bottom: 0

  &__inline-submit
    position: relative

    .field__btn,
    .field__btn-outline
      @include position(absolute, 50% 5px null null)
      transform: translateY(-50%)

.check-field,
.radio-field
  align-items: center
  display: inline-flex
  position: relative
  vertical-align: top

  &__input
    @include position(absolute, 50% null null 0)
    opacity: 0
    transform: translateY(-50%)
    z-index: -1

    &:checked + .check-field__icon,
    &:checked + .radio-field__icon
      border-color: $black

      &::after
        opacity: 1

  &__icon
    @include size(18px)
    align-items: center
    border: 1px solid $black
    display: flex
    flex-shrink: 0
    justify-content: center
    margin-right: 5px

    &::after
      content: ''
      display: block
      opacity: 0

  &__label
    flex-grow: 1
    font-size: 16px
    line-height: 1em

  &_icon-right
    .check-field__icon,
    .radio-field__icon
      margin-left: 5px
      margin-right: 0
      order: 1

    .check-field__label,
    .radio-field__label
      order: 0

  &_box
    background-color: $inputs-background-color
    border: 1px solid $inputs-border-color
    border-radius: $inputs-border-radius
    display: flex
    height: $inputs-heigth
    padding: 0 $inputs-sides-padding
    transition: border .4s ease-in-out

    &.check-field_readonly,
    &.radio-field_readonly
      background-color: $inputs-readonly-background-color

  &_disabled
    cursor: not-allowed
    opacity: .5

  &_readonly
    cursor: not-allowed

.check-field
  &__icon
    &::after
      @include size(10px, 6px)
      border-bottom: 2px solid $black
      border-left: 2px solid $black
      margin-top: -3px
      transform: rotate(-45deg)

  &_box
    &:hover:not(.check-field_disabled):not(.check-field_readonly) // sass-lint:disable-line force-pseudo-nesting
      background-color: $input-background-hover-color
      border-color: $input-border-hover-color

.radio-field
  &__icon
    border-radius: 50%

    &::after
      @include size(8px)
      background-color: $black
      border-radius: 50%

  &_box
    &:hover:not(.radio-field_disabled):not(.radio-field_readonly) // sass-lint:disable-line force-pseudo-nesting
      background-color: $input-background-hover-color
      border-color: $input-border-hover-color

.file-field
  align-items: center
  display: flex
  padding-left: $inputs-sides-padding
  position: relative

  &__input
    @include position(absolute, 50% null null 0)
    opacity: 0
    transform: translateY(-50%)
    width: 100%
    z-index: -1

  &__label
    display: block
    flex-grow: 1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  &__icon
    align-items: center
    background: $inputs-border-color
    border-left: 1px solid $inputs-border-color
    display: flex
    flex-shrink: 0
    height: 100%
    margin-left: $inputs-sides-padding
    padding: 0 $inputs-sides-padding
    transition: border .4s ease-in-out

  &:hover:not(.file-field_disabled):not(.file-field_readonly) // sass-lint:disable-line force-pseudo-nesting
    background-color: $input-background-hover-color
    border-color: $input-border-hover-color

    .file-field__icon
      border-left-color: $input-border-hover-color

  &_disabled
    cursor: not-allowed
    opacity: .5

  &_readonly
    background-color: $inputs-readonly-background-color
    cursor: not-allowed
