.icon
  @include size($icon-default-size)
  align-items: center
  background-color: $black
  border: 1px solid transparent
  border-radius: $icon-border-radius
  color: $white
  display: inline-flex
  justify-items: center

  @include breakpoint($tablet)
    @include size($icon-default-tablet-size)


  &__svg
    @include size($icon-svg-default-size)
    display: block
    fill: $white
    margin: auto

    @include breakpoint($tablet)
      @include size($icon-svg-default-tablet-size)


  &_lg
    @include size($icon-lg-size)

    @include breakpoint($tablet)
      @include size($icon-lg-tablet-size)


    .icon__svg
      @include size($icon-svg-lg-size)

      @include breakpoint($tablet)
        @include size($icon-svg-lg-tablet-size)


  &_sm
    @include size($icon-sm-size)

    @include breakpoint($tablet)
      @include size($icon-sm-tablet-size)


    .icon__svg
      @include size($icon-svg-sm-size)

      @include breakpoint($tablet)
        @include size($icon-svg-sm-tablet-size)


  &_error
    background-color: $icon-error-background-color
    color: $icon-error-color

    .icon__svg
      fill: $icon-error-color

  &_info
    background-color: $icon-info-background-color
    color: $icon-info-color

    .icon__svg
      fill: $icon-info-color

  &_success
    background-color: $icon-success-background-color
    color: $icon-success-color

    .icon__svg
      fill: $icon-success-color

  &_warning
    background-color: $icon-warning-background-color
    color: $icon-warning-color

    .icon__svg
      fill: $icon-warning-color

  &_outline
    background-color: transparent
    border-color: $black
    color: $black

    .icon__svg
      fill: $black

    &.icon_error
      border-color: $icon-error-background-color
      color: $icon-error-background-color

      .icon__svg
        fill: $icon-error-background-color

    &.icon_info
      border-color: $icon-info-background-color
      color: $icon-info-background-color

      .icon__svg
        fill: $icon-info-background-color

    &.icon_success
      border-color: $icon-success-background-color
      color: $icon-success-background-color

      .icon__svg
        fill: $icon-success-background-color

    &.icon_warning
      border-color: $icon-warning-background-color
      color: $icon-warning-background-color

      .icon__svg
        fill: $icon-warning-background-color
